@media (max-width: 575px) {
  .button {
    &_main {
      margin-top: 20px;
      width: 260px;
      height: 45px;
      font-size: 15px;
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .header {
    display: block;
    &__logo {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-top: 0;
      img {
        width: 180px;
        height: 40px;
      }
    }
    &__official {
      font-size: 11px;
      margin-top: 0;
      p {
        margin-bottom: 0;
        font-size: 16px;
        }
    }
    &__phone {
      font-size: 14px;
      margin-right: 23px;
    }
    &__contacts {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .promo {
    padding: 0 8px 20px 8px;
    min-height: 400px;
    &__wrapper {
      align-items: center;
      margin-top: 60px;
    }
    &__header {
      font-size: 24px;
    }
    &__subheader {
      font-size: 14px;
    }
    &__icons {
      margin-top: 30px;
      justify-content: center;
      width: 100%;
      img {
        margin-bottom: 8px;
      }
    }
    &__icon {
      font-size: 12px;
    }
    &__link {
      font-size: 13px;
      margin-top: 1.5px;
      a {
        font-size: 13px;
      }
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .advantages {
    padding: 25px 8px 20px 8px;
    &__title {
      font-size: 24px;
    }
    &__columns {
      margin-top: 25px;
    }
    &__column {
      width: 270px;
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .consultation {
    padding: 40px 8px 40px 8px;
    &__title {
      font-size: 24.5px;
    }
    &__descr {
      font-size: 17px;
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .carousel {
    &__inner {
      width: 80%;
      img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }
    .slick-dots li button {
      width: 32px;
      height: 32px;
    }
    .slick-dots ul {
      display: none;
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .catalog {
    padding: 0 0 20px 0;
    &__title {
      font-size: 28px;
    }
    &__content {
      margin-top: 40px;
    }
    &__tabs {
      margin-top: 40px;
    }
    &__tab {
      width: 220px;
      margin-left: 0;
      margin-right: 0;
    }
    &__tab:nth-child(1) {
      margin: 0 0 5px 0;
    }
    &__tab:nth-child(2) {
      margin: 0 0 5px 0;
    }
    &-item {
      margin-right: 0;
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer {
  min-height: 300px;
    iframe {
      height: 300px;
    }
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 160px;
    background-color: $main-color;
    padding: 15px 0 0 0;
  }
  &__addr {
    font-size: 13px;
  }
  &__phone {
    margin-top: 18px;
    font-size: 16px;
  }
  &__social {
    margin-top: 18px;
    a {
      text-decoration: none;
    }
    a:nth-child(1) {
      margin-right: 10px;
    }
    a:nth-child(2) {
      margin-right: 10px;
    }
  }
}
}