.catalog {
  padding: 0 0 100px 0;
  &__title {
    font-weight: 400;
    font-size: 30px;
    color: $second-color;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
  }
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__tab {
    margin: 0 5px;
    width: 220px;
    height: 50px;
    border: 2px solid #D0D0D0;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 46px;
    color: #6B6B6B;
    transform: skew(-25deg);
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      box-shadow: 3px 3px 20px $main-color;
      border: none;
    }
    div {
      transform: skew(25deg);
    }
    &_active {
      background: $main-color;
      color: white;
      border: none;
    }
  }
  &__content {
    margin-top: 60px;
    display: none;
    flex-wrap: wrap;
    &_active {
      display: flex;
    }
  }
  &-item {
    padding: 20px 20px 26px 20px;
    width: 300px;
    min-height: 440px;
    border: 2px solid #E8E8E8;
    overflow: hidden;
    margin-bottom: 15px;
    margin-right: 15px;
    transform: translateX(10px);
    @media (max-width: 600px) {
      transform: translateX(0);
      margin-right: 0;
    }
    &__img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 200px;
    }
    &__subtitle {
      margin-top: 15px;
      font-weight: 700;
      font-size: 16px;
      color: $second-color;
      text-align: center;
    }
    &__descr {
      margin-top: 10px;
      font-weight: 300;
      font-size: 14px;
      color: $second-color;
      text-align: center;
    }
    &__link {
      display: block;
      margin-top: 10px;
      font-weight: 500;
      font-size: 14px;
      color: $main-color;
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
    }
    hr {
      background: #E8E8E8;
      margin: 17px 0 0 0;
      border-bottom: none;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
    }
    &__prices {
    }
    &__old-price {
      margin-top: 24px;
      font-weight: 300;
      font-size: 14px;
      text-decoration: line-through;
      color: #555555;
    }
    &__price {
      font-weight: 700;
      font-size: 20px;
      color: #050505;
    }
    &__wrapper {
      display: flex;
      width: calc(200% + 40px);
    }
    &__content {
      width: 50%;
      margin-right: 0px;
      transform: translateX(-100%);
      transition: 0.5s all;
      &_active {
        transform: translateX(0%);
        margin-right: 20px;
      }
    }
    &__list {
      position: relative;
      width: 50%;
      margin-left: 20px;
      transform: translateX(0%);
      padding-right: 20px;
      transition: 0.5s all;
      padding-left: 19px;
      margin-bottom: 0;
      list-style-type: none;
      &_active {
        transform: translateX(-100%);
        margin-left: 0px;
      }
      li {
        position: relative;
        font-weight: 300;
        font-size: 14px;
        color: #555555;
        margin-bottom: 15px;
        &::before {
          content: '';
          position: absolute;
          height: 5px;
          width: 5px;
          background: $main-color;
          left: -14px;
          top: 7.5px;
        }
      }
    }
    &__back {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-50% - 19px));
      display: block;
      font-weight: 500;
      font-size: 14px;
      color: $main-color;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}